<h1>Department</h1>

<h2>Name:<%= @department.department_name %></h2>
<h2>Location:<%= @department.location %></h2>
<h2>In Stock:<%= @department.in_stock %></h2>
<h2>Holding Power:<%= @department.holding_power %></h2>